{
    "plugins": [
        ["prismjs", {
            "languages" : ["java", "python"],
            "plugins": ["line-numbers"],
            "theme": ["tomorrow-night"],
            "css" : true
        }]
    ]
}